
@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>

@if (ViewData["Msg"] != null) {
    <h3>@ViewData["Msg"]</h3>
}
else {
    <h4>New customer? Fill out all information below to register today!</h4>
    <h5>model binding version</h5>
    <form asp-action="CustomerBinding"
          asp-controller="Customer">

        <!-- // First Name // -->
        <label for="FirstName">First Name: </label>
        <input type="text" name="FirstName" required />
        <br />

        <!-- // Last Name // -->
        <label for="LastName">Last Name: </label>
        <input type="text" name="LastName" required />
        <br />

        <!-- // Password // -->
        <label for="Password">Password: </label>
        <input type="password" name="Password" required />
        <br />

        <!-- // Email // -->
        <label for="Email">Email: </label>
        <input type="email" name="Email" required />
        <br />

        <!-- // PhoneNum // -->
        <label for="PhoneNum">Phone Number: </label>
        <input type="number" name="PhoneNum" required />
        <br />

        <!-- // Submit // -->
        <input class="btn btn-primary" type="submit" value="Register Customer" />

    </form>
}